@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fluidWave {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

@keyframes fluidWave2 {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.fluid-bg {
  animation: fluidWave 28s linear infinite;
}

.fluid-bg2 {
  animation: fluidWave2 38s linear infinite;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

input:focus {
  outline: none;
}
